@keyframes bg {
    0% { background-color: #ffffff }
    50% { background-color: #cbffee }
    100% { background-color: #f9cbff }
}

body {
    animation-name: bg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: white;
    color: black;
    font: 300 1rem 'Oswald', sans-serif;
    text-align: center;
}

#site-wrap {
    display: block;
    min-height: calc( 100vh - 1rem );
    position: relative;
    z-index: 0;
}

nav,
main {
    position: relative;
    z-index: 2;
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

b,
strong {
    font-weight: 400;
}

p {
    display: block;
    margin-bottom: 1rem;
}

header {
    position: relative;
    z-index: 2;
}

#backdrop {
    background: white;
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.header-wrapper {
    background-color: black;
    display: block;
    padding: 1rem;
}

header h1,
header h1 a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

main {
    margin: 1rem;
}

.cta-link a {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.thumb-in-post {
    margin: 0 auto;
    max-width: 600px;
}

.thumb-in-post img {
    height: auto;
    width: 100%;
}

#header-icons {
    display: block;    
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    position: relative;
    z-index: 2;
}

#header-icons li {
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
}

#header-icons .menu .menu-open {
    display: none;
}

.active #header-icons .menu .menu-open {
    display: inline-block;
}

.active #header-icons .menu .menu-closed {
    display: none;
}

.header-nav.active {
    background-color: black;
    color: white;
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.header-nav.active a {
    color: white;
}

@keyframes navigation {
    0% { background:rgb(255, 1, 255); }
    25% { background:rgb(208, 255, 1); }
    100% { background: rgb(0, 153, 255); }
}

#navToggle {
    background: white;
    animation-name: navigation;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: none;
    position: absolute;
    width: 100%;
}

.header-nav.active #navToggle {
    display: block;
}

#menu-header-nav a {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.25rem 1rem;
    text-align: left;
}

.nav-container {
    background-color: black;
    mix-blend-mode: multiply;
}

.header-nav .nav-container ul li a {
    color: white;
}

footer {
    background-color: black;
    bottom: 0;
    color: white;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

footer a {
    color: white;
}

footer ul {
    display: block;
    list-style-type: none;
    margin-bottom: 1rem;
}

footer ul li {
    display: inline-block;
    padding: 0 0.25rem;
}

footer ul li a {
    font-weight: 300;
}

.footer-container {
    padding: 1rem 0;
}

.page-content {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
}

.page-tagline {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1rem;
}