body {
    color: black;
    font: 300 1rem 'Oswald', sans-serif;
    text-align: center;
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

b,
strong {
    font-weight: 400;
}

p {
    display: block;
    margin-bottom: 1rem;
}

header {
    position: relative;
    z-index: 2;
}

#backdrop {
    background: white;
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.header-wrapper {
    background-color: black;
    display: block;
    padding: 1rem;
}

header h1,
header h1 a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

main {
    margin: 1rem;
}

.cta-link a {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.thumb-in-post img {
    height: auto;
    width: 100%;
}

#header-icons {
    display: block;    
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    position: relative;
    z-index: 2;
}

#header-icons li {
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
}

#header-icons .menu .menu-open {
    display: none;
}

.active #header-icons .menu .menu-open {
    display: inline-block;
}

.active #header-icons .menu .menu-closed {
    display: none;
}

.header-nav.active {
    background-color: black;
    color: white;
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
}

.header-nav.active a {
    color: white;
}

#navToggle {
    display: none;
}

.header-nav.active #navToggle {
    display: block;
}

#menu-header-nav a {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.25rem 1rem;
    text-align: left;
}

.nav-container ul li:nth-of-type(1n+1) a {
    color: #E91E63;
}

.nav-container ul li:nth-of-type(2n+2) a {
    color: #FF5722;
}

.nav-container ul li:nth-of-type(3n+3) a {
    color: #FFC107;
}

.nav-container ul li:nth-of-type(4n+4) a {
    color: #C0CA33;
}

.nav-container ul li:nth-of-type(5n+5) a {
    color: #26A69A;
}

.nav-container ul li:nth-of-type(5n+5) a {
    color: #9C27B0;
}

